@{
    Layout = "~/Views/Shared/_Karus_Layout.cshtml";
}

@model List<OpdrachtItem>

<h2>@ViewData["Title"]</h2>

<section class="karus">

    <div class="container p-0">

        <div class="row g-3 row-cols-1 row-cols-lg-2">

            @foreach (var opdrachtValue in Model)
            {
                <div class="col">
                    <div class="card task">
                        <div class="row">
                            <div class="col-4 col-md-3 col-lg-4">
                                @if (!string.IsNullOrEmpty(opdrachtValue.CardImageUri))
                                {
                                    <img src="@opdrachtValue.CardImageUri" class="card-img" alt="@opdrachtValue.Name">
                                }
                            </div>
                            <div class="col-8 col-md-9 col-lg-8">
                                <div class="card-body">
                                    <h5 class="card-title"><a class="stretched-link" asp-controller="Karus" asp-action="@opdrachtValue.ControllerAction" asp-route-culture="@CultureInfo.CurrentCulture.Name" title="@opdrachtValue.Name">@opdrachtValue.Name</a></h5>
                                    @if (!string.IsNullOrEmpty(opdrachtValue.Description))
                                    {
                                        <p class="card-text">@opdrachtValue.Description</p>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>