@model CrisisboxPhotosViewModel

<div class="card karus_photos">
    <div class="card-body text-center">
        <h5>@Model.Title</h5>
        <div class="container m-0 p-0">

            @if (Model.Items.Count > 0)
            {
                <div class="row g-3">
                    @foreach (var photo in Model.Items)
                    {
                        <div class="col col-4">
                            <a asp-controller="Crisisbox" asp-action="Photos" asp-route-culture="@CultureInfo.CurrentCulture.Name" asp-route-type="@photo.Type" title="@photo.Description">
                                <img src="https://pz-ej-stage.b-cdn.net/karus/crisisbox/photos/@photo.FileName?class=thb" class="img-fluid rounded" alt="@photo.Description" />
                            </a>
                        </div>
                    }
                </div>
            }
        </div>
    </div>
</div>