@using Microsoft.AspNetCore.Http.Extensions;
@using Ej.Client.Configuration;

@inject ICultureManager _cultureManager

<div class="nav-item dropdown" style="display: inline;">

    <a class="dropdown-toggle" href="/" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        @CultureInfo.CurrentCulture.DisplayName
    </a>

    <ul class="dropdown-menu dropdown-menu-end" data-bs-theme="dark">

        @foreach (var culture in _cultureManager.GetSelectableCultures(@CultureInfo.CurrentCulture) ?? [])
        {
            var path = _cultureManager.ReplaceCultureNameInUrl(Context!.Request.GetDisplayUrl(), culture.Name);

            <li><a class="nav-item dropdown-item" href="@path" title="@culture.NativeName">@culture.NativeName</a></li>
        }
    </ul>

</div>
